<!DOCTYPE html>
<html>
<head>
  <title>angular-pouchdb changes example</title>
  <meta charset="utf-8" />
</head>
<body ng-app="app">
  <div ng-controller="ExampleCtrl">
    <button ng-click="add()">Add</button>
    <ul>
      <li ng-repeat="doc in docs">
        <span ng-bind="doc | json"></span>
      </li>
    </ul>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/pouchdb/dist/pouchdb.js"></script>
  <script src="angular-pouchdb.js"></script>
  <script src="app.js"></script>
</body>
</html>
